Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, prettier --write

Update dependency phpunit/phpunit to v9.5.8
  composer.json
  composer.lock
Due: prettier --write

Update dependency laravel/telescope to v4.6.1
  composer.json
  composer.lock
Due: prettier --write

Update dependency cypress to v8.2.0
  package.json
  yarn.lock
Due: prettier --write

Upgrade to PHP 8.0
  app/Console/Commands/GenerateSitemap.php
  app/Events/NewsletterSubscriptionEmailUpdated.php
  app/Events/NewsletterUnsubscribed.php
  app/Http/Middleware/AddSecurityHeaders.php
  app/Http/Requests/ArticleCategoryRequest.php
  app/Http/Requests/ArticleRequest.php
  app/Http/Requests/UserRequest.php
  app/Models/ArticleCategory.php
  app/Models/User.php
  app/Notifications/ContactReceived.php
  app/Notifications/NewsletterSubscribed.php
  app/Notifications/NewsletterUnsubscribed.php
  app/Schemas/BlogPostingSchema.php
  app/Traits/BelongsToManyArticles.php
  app/Traits/HasArticles.php
  app/Traits/HasManyArticles.php
  app/View/Components/Input.php
  app/View/Components/Pill.php
  app/View/Components/Select.php
  app/View/Components/TextArea.php
  app/ViewModels/ArticleViewModel.php
  composer.json
  composer.lock
  config/insights.php
  resources/views/admin/articles/edit.blade.php
  tests/Unit/ArticleCategoryTest.php
  tests/Unit/UserTest.php
Due: ./vendor/bin/phpcs, prettier --write

Apply fixes from StyleCI
  app/Events/NewsletterSubscriptionEmailUpdated.php
  app/Events/NewsletterUnsubscribed.php
  app/Http/Middleware/AddSecurityHeaders.php
  app/Notifications/ContactReceived.php
  app/Notifications/NewsletterSubscribed.php
  app/Notifications/NewsletterUnsubscribed.php
  app/Schemas/BlogPostingSchema.php
  app/View/Components/Input.php
  app/View/Components/Pill.php
  app/View/Components/Select.php
  app/View/Components/TextArea.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI (#664)
  app/Events/NewsletterSubscriptionEmailUpdated.php
  app/Events/NewsletterUnsubscribed.php
  app/Http/Middleware/AddSecurityHeaders.php
  app/Notifications/ContactReceived.php
  app/Notifications/NewsletterSubscribed.php
  app/Notifications/NewsletterUnsubscribed.php
  app/Schemas/BlogPostingSchema.php
  app/View/Components/Input.php
  app/View/Components/Pill.php
  app/View/Components/Select.php
  app/View/Components/TextArea.php
Due: ./vendor/bin/phpcs

Upgrade to PHP 8.0
  .github/workflows/main.yml
Due: none

wip
  app/Models/ArticleCategory.php
  app/Traits/HasArticles.php
  tests/Unit/ArticleCategoryTest.php
Due: ./vendor/bin/phpcs

wip
  app/Models/User.php
  tests/Unit/ArticleCategoryTest.php
Due: ./vendor/bin/phpcs

Update dependency nunomaduro/phpinsights to v2
  composer.json
  composer.lock
Due: prettier --write

wip
  tests/Unit/ArticleCategoryTest.php
Due: ./vendor/bin/phpcs

wip
  phpstan.neon
Due: none

Upgrade to PHP 8.0 (#663)
  .github/workflows/main.yml
  app/Console/Commands/GenerateSitemap.php
  app/Events/NewsletterSubscriptionEmailUpdated.php
  app/Events/NewsletterUnsubscribed.php
  app/Http/Middleware/AddSecurityHeaders.php
  app/Http/Requests/ArticleCategoryRequest.php
  app/Http/Requests/ArticleRequest.php
  app/Http/Requests/UserRequest.php
  app/Models/ArticleCategory.php
  app/Models/User.php
  app/Notifications/ContactReceived.php
  app/Notifications/NewsletterSubscribed.php
  app/Notifications/NewsletterUnsubscribed.php
  app/Schemas/BlogPostingSchema.php
  app/Traits/BelongsToManyArticles.php
  app/Traits/HasArticles.php
  app/Traits/HasManyArticles.php
  app/View/Components/Input.php
  app/View/Components/Pill.php
  app/View/Components/Select.php
  app/View/Components/TextArea.php
  app/ViewModels/ArticleViewModel.php
  composer.json
  composer.lock
  config/insights.php
  phpstan.neon
  resources/views/admin/articles/edit.blade.php
  tests/Unit/ArticleCategoryTest.php
  tests/Unit/UserTest.php
Due: ./vendor/bin/phpcs, prettier --write

Update dependency sass to v1.37.5
  package.json
  yarn.lock
Due: prettier --write

Upgrade spatie/laravel-webhook-client to v3
  composer.json
  database/migrations/2021_08_05_191902_add_url_and_headers_fields_to_webhook_calls_table.php
Due: ./vendor/bin/phpcs, prettier --write

wip
  composer.lock
Due: none

Update dependency laravel/horizon to v5.7.10
  composer.json
  composer.lock
Due: prettier --write

Update dependency spatie/laravel-schedule-monitor to v2.4.3
  composer.json
  composer.lock
Due: prettier --write

Update dependency spatie/laravel-feed to v4
  composer.json
  composer.lock
Due: prettier --write

Update dependency spatie/laravel-honeypot to v4
  composer.json
  composer.lock
Due: prettier --write

Update dependency spatie/laravel-responsecache to v7
  composer.json
  composer.lock
Due: prettier --write

Update dependency spatie/laravel-webhook-client to v3
  composer.json
  composer.lock
Due: prettier --write

wip
  app/Models/Article.php
  composer.json
  composer.lock
  config/feed.php
  database/migrations/2021_08_05_191902_add_url_and_headers_fields_to_webhook_calls_table.php
  tests/Unit/ArticleTest.php
Due: ./vendor/bin/phpcs, prettier --write

wip
  composer.json
  composer.lock
Due: prettier --write

wip
  app/Jobs/ProcessMailChimpWebhookJob.php
Due: ./vendor/bin/phpcs

Upgrade Composer dependencies (#668)
  app/Jobs/ProcessMailChimpWebhookJob.php
  app/Models/Article.php
  composer.json
  composer.lock
  config/feed.php
  database/migrations/2021_08_05_191902_add_url_and_headers_fields_to_webhook_calls_table.php
  tests/Unit/ArticleTest.php
Due: ./vendor/bin/phpcs, prettier --write

Update dependency resolve-url-loader to v4
  package.json
  yarn.lock
Due: prettier --write

wip
  composer.json
  composer.lock
  yarn.lock
Due: prettier --write

wip
  cypress/snapshots/auth/login.spec.js/Login -- matches desktop screenshot.snap.png
Due: none

wip
  .github/workflows/main.yml
Due: none

wip
  tailwind.config.js
Due: prettier --write

wip
  cypress/constants.js
  cypress/integration/contact/contact.spec.js
  cypress/snapshots/about/about.spec.js/About -- matches desktop screenshot.snap.png
  cypress/snapshots/about/about.spec.js/About -- matches mobile screenshot.snap.png
  cypress/snapshots/about/about.spec.js/About -- matches tablet screenshot.snap.png
  cypress/snapshots/admin/article/create.spec.js/Admin Article Create -- matches desktop screenshot.snap.png
  cypress/snapshots/admin/article/edit.spec.js/Admin Article Edit -- matches desktop screenshot.snap.png
  cypress/snapshots/admin/article/index.spec.js/Admin Article Index -- matches desktop screenshot.snap.png
  cypress/snapshots/admin/dashboard.spec.js/Admin Dashboard -- matches desktop screenshot.snap.png
  cypress/snapshots/auth/login.spec.js/Login -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/article.spec.js/Blog Article Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/article.spec.js/Blog Article Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/article.spec.js/Blog Article Index -- matches tablet screenshot.snap.png
  cypress/snapshots/blog/categories.spec.js/Blog Categories Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/categories.spec.js/Blog Categories Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/categories.spec.js/Blog Categories Index -- matches tablet screenshot.snap.png
  cypress/snapshots/blog/index.spec.js/Blog Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/index.spec.js/Blog Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/index.spec.js/Blog Index -- matches tablet screenshot.snap.png
  cypress/snapshots/blog/series.spec.js/Blog Series Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/series.spec.js/Blog Series Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/series.spec.js/Blog Series Index -- matches tablet screenshot.snap.png
  cypress/snapshots/contact/contact.spec.js/Contact -- matches desktop screenshot.snap.png
  cypress/snapshots/contact/contact.spec.js/Contact -- matches mobile screenshot.snap.png
  cypress/snapshots/contact/contact.spec.js/Contact -- matches tablet screenshot.snap.png
  package.json
  yarn.lock
Due: prettier --write

wip
  .github/workflows/main.yml
  cypress/snapshots/about/about.spec.js/About -- matches desktop screenshot.snap.png
  cypress/snapshots/about/about.spec.js/About -- matches mobile screenshot.snap.png
  cypress/snapshots/about/about.spec.js/About -- matches tablet screenshot.snap.png
  cypress/snapshots/admin/article/create.spec.js/Admin Article Create -- matches desktop screenshot.snap.png
  cypress/snapshots/admin/article/edit.spec.js/Admin Article Edit -- matches desktop screenshot.snap.png
  cypress/snapshots/admin/article/index.spec.js/Admin Article Index -- matches desktop screenshot.snap.png
  cypress/snapshots/admin/dashboard.spec.js/Admin Dashboard -- matches desktop screenshot.snap.png
  cypress/snapshots/auth/login.spec.js/Login -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/article.spec.js/Blog Article Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/article.spec.js/Blog Article Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/article.spec.js/Blog Article Index -- matches tablet screenshot.snap.png
  cypress/snapshots/blog/categories.spec.js/Blog Categories Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/categories.spec.js/Blog Categories Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/categories.spec.js/Blog Categories Index -- matches tablet screenshot.snap.png
  cypress/snapshots/blog/index.spec.js/Blog Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/index.spec.js/Blog Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/index.spec.js/Blog Index -- matches tablet screenshot.snap.png
  cypress/snapshots/blog/series.spec.js/Blog Series Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/series.spec.js/Blog Series Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/series.spec.js/Blog Series Index -- matches tablet screenshot.snap.png
  cypress/snapshots/contact/contact.spec.js/Contact -- matches desktop screenshot.snap.png
  cypress/snapshots/contact/contact.spec.js/Contact -- matches mobile screenshot.snap.png
  cypress/snapshots/contact/contact.spec.js/Contact -- matches tablet screenshot.snap.png
Due: none

wip
  .github/workflows/main.yml
  cypress/snapshots/about/about.spec.js/About -- matches desktop screenshot.snap.png
  cypress/snapshots/about/about.spec.js/About -- matches mobile screenshot.snap.png
  cypress/snapshots/about/about.spec.js/About -- matches tablet screenshot.snap.png
  cypress/snapshots/admin/article/create.spec.js/Admin Article Create -- matches desktop screenshot.snap.png
  cypress/snapshots/admin/article/edit.spec.js/Admin Article Edit -- matches desktop screenshot.snap.png
  cypress/snapshots/admin/article/index.spec.js/Admin Article Index -- matches desktop screenshot.snap.png
  cypress/snapshots/admin/dashboard.spec.js/Admin Dashboard -- matches desktop screenshot.snap.png
  cypress/snapshots/auth/login.spec.js/Login -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/article.spec.js/Blog Article Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/article.spec.js/Blog Article Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/article.spec.js/Blog Article Index -- matches tablet screenshot.snap.png
  cypress/snapshots/blog/categories.spec.js/Blog Categories Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/categories.spec.js/Blog Categories Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/categories.spec.js/Blog Categories Index -- matches tablet screenshot.snap.png
  cypress/snapshots/blog/index.spec.js/Blog Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/index.spec.js/Blog Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/index.spec.js/Blog Index -- matches tablet screenshot.snap.png
  cypress/snapshots/blog/series.spec.js/Blog Series Index -- matches desktop screenshot.snap.png
  cypress/snapshots/blog/series.spec.js/Blog Series Index -- matches mobile screenshot.snap.png
  cypress/snapshots/blog/series.spec.js/Blog Series Index -- matches tablet screenshot.snap.png
  cypress/snapshots/contact/contact.spec.js/Contact -- matches desktop screenshot.snap.png
  cypress/snapshots/contact/contact.spec.js/Contact -- matches mobile screenshot.snap.png
  cypress/snapshots/contact/contact.spec.js/Contact -- matches tablet screenshot.snap.png
  cypress/support/commands.js
Due: prettier --write

wip
  cypress/support/commands.js
Due: prettier --write

wip
  cypress/snapshots/blog/article.spec.js/Blog Article Index -- matches mobile screenshot.snap.png
Due: none

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  prettier --write: any of: *.{js,ts,tsx,json,scss,md}
