Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, prettier --write

Order articles on admin index view by published at time
  app/Http/Controllers/Admin/ArticleController.php
Due: ./vendor/bin/phpcs

Added Cypress setup and cleanup npm scripts
  package.json
Due: prettier --write

Removed browser flag from Cypress command to use the default Electron browser instead
  package.json
Due: prettier --write

Remove Cypress environment variable as no longer needed
  .github/workflows/main.yml
  cypress.json
Due: prettier --write

Disable fixture folder as no longer being used
  cypress.json
Due: prettier --write

Removed custom Cypress commands and tasks as no longer used
  cypress/plugins/env.js
  cypress/plugins/index.js
  cypress/support/laravel-commands.js
Due: prettier --write

Add test user email and password constants
  cypress/constants.js
  cypress/integration/auth/login.spec.js
Due: prettier --write

Refresh and seed database before each test
  cypress/integration/admin/article/create.spec.js
  cypress/integration/admin/article/index.spec.js
  cypress/integration/auth/login.spec.js
  cypress/integration/blog/article.spec.js
  cypress/integration/blog/index.spec.js
Due: prettier --write

Remove before and after hooks as no longer needed and create new login command
  cypress/support/index.js
Due: prettier --write

Set empty MYSQL_PASSWORD env
  .github/workflows/main.yml
Due: none

Correct MYSQL_PASSWORD env to MYSQL_ROOT_PASSWORD
  .github/workflows/main.yml
Due: none

Set test database password
  .env.testing
  .github/workflows/main.yml
Due: none

Fix MySQL service
  .env.testing
  .github/workflows/main.yml
Due: none

Correct MySQL port binding
  .github/workflows/main.yml
Due: none

Correct order of article on admin articles index view
  app/Http/Controllers/Admin/ArticleController.php
  database/seeders/ArticleCategoriesTableSeeder.php
  database/seeders/ArticleSeriesTableSeeder.php
  database/seeders/ArticleTableSeeder.php
Due: ./vendor/bin/phpcs

Update dependency husky to v5.2.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency guzzlehttp/guzzle to v7.3.0
  composer.json
  composer.lock
Due: prettier --write

Correct linting
  cypress/integration/auth/login.spec.js
Due: prettier --write

Delete screenshot diff
  cypress/snapshots/about/about.spec.js/__diff_output__/About -- matches desktop screenshot.diff.png
Due: none

Ensure laravel/telescope is auto-discovered
  composer.json
Due: prettier --write

Update Compose lock file
  composer.lock
Due: none

Update Yarn lock file
  yarn.lock
Due: none

Correct return types
  app/Traits/CanBePublished.php
  app/Traits/InSeries.php
Due: ./vendor/bin/phpcs

Increase PHPStan level
  phpstan.neon
Due: none

Improve typing
  app/Traits/CanBePublished.php
  app/View/Components/Select.php
Due: ./vendor/bin/phpcs

Updated all Composer dependencies
  composer.json
  composer.lock
Due: prettier --write

Updated all npm dependencies
  package.json
  yarn.lock
Due: prettier --write

Update dependency husky to v6
  package.json
  yarn.lock
Due: prettier --write

Update dependency spatie/laravel-responsecache to v6.6.9
  composer.json
  composer.lock
Due: prettier --write

Update dependency cypress to v6.9.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency spatie/laravel-responsecache to v7
  composer.json
  composer.lock
Due: prettier --write

Update dependency blade-ui-kit/blade-heroicons to v1
  composer.json
  composer.lock
Due: prettier --write

Update dependency @testing-library/cypress to v7.0.6
  package.json
  yarn.lock
Due: prettier --write

Update dependency barryvdh/laravel-debugbar to v3.5.5
  composer.json
  composer.lock
Due: prettier --write

Update dependency brianium/paratest to v6.3.0
  composer.json
Due: prettier --write

Update dependency fruitcake/laravel-cors to v2.0.4
  composer.json
Due: prettier --write

Update dependency sass-loader to v11
  package.json
  yarn.lock
Due: prettier --write

Update dependency phpunit/phpunit to v9.5.5
  composer.json
  composer.lock
Due: prettier --write

Update dependency barryvdh/laravel-debugbar to v3.6.1
  composer.json
  composer.lock
Due: prettier --write

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  prettier --write: any of: *.{js,ts,tsx,json,scss,md}
