Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, prettier --write

Apply fixes from StyleCI
  app/Http/Middleware/AddSecurityHeaders.php
  app/View/Components/Select.php
  server.php
Due: ./vendor/bin/phpcs

Update dependency nunomaduro/larastan to v0.7.14
  composer.json
  composer.lock
Due: prettier --write

Update dependency cypress to v8.7.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency nunomaduro/larastan to v0.7.15
  composer.json
  composer.lock
Due: prettier --write

Update dependency laravel/framework to v8.68.0
  composer.json
  composer.lock
Due: prettier --write

Update dependency laravel/horizon to v5.7.15
  composer.json
  composer.lock
Due: prettier --write

Update dependency sass to v1.43.4
  package.json
  yarn.lock
Due: prettier --write

Update dependency laravel/framework to v8.68.1
  composer.json
  composer.lock
Due: prettier --write

Update dependency barryvdh/laravel-debugbar to v3.6.4
  composer.json
  composer.lock
Due: prettier --write

Update dependency browser-sync to v2.27.6
  package.json
  yarn.lock
Due: prettier --write

Remove renovate config file
  renovate.json
Due: prettier --write

Apply fixes from StyleCI (#789)
  app/Http/Middleware/AddSecurityHeaders.php
  app/View/Components/Select.php
  server.php
Due: ./vendor/bin/phpcs

Remove Renovate config file (#790)
  app/Http/Middleware/AddSecurityHeaders.php
  app/View/Components/Select.php
  renovate.json
  server.php
Due: ./vendor/bin/phpcs, prettier --write

Update and unpin all dependencies
  composer.json
  composer.lock
  package.json
  yarn.lock
Due: prettier --write

Update and unpin all dependencies (#792)
  composer.json
  composer.lock
  package.json
  yarn.lock
Due: prettier --write

Replace custom SVGs with Heroicons
  resources/views/pages/about.blade.php
  resources/views/pages/contact.blade.php
  resources/views/partials/articles/newsletter.blade.php
  resources/views/partials/articles/outOfDate.blade.php
  resources/views/partials/articles/preview.blade.php
  resources/views/partials/categories/preview.blade.php
  resources/views/partials/series/preview.blade.php
Due: ./vendor/bin/phpcs

Consolidate GitHub action jobs
  .github/workflows/main.yml
Due: none

Update readme
  README.md
Due: prettier --write

Disable lazy loading
  app/Providers/AppServiceProvider.php
Due: ./vendor/bin/phpcs

General improvements (#793)
  .github/workflows/main.yml
  README.md
  app/Providers/AppServiceProvider.php
  resources/views/pages/about.blade.php
  resources/views/pages/contact.blade.php
  resources/views/partials/articles/newsletter.blade.php
  resources/views/partials/articles/outOfDate.blade.php
  resources/views/partials/articles/preview.blade.php
  resources/views/partials/categories/preview.blade.php
  resources/views/partials/series/preview.blade.php
Due: ./vendor/bin/phpcs, prettier --write

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  prettier --write: any of: *.{js,ts,tsx,json,scss,md}
