Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, prettier --write

Created CommonMark test
  tests/Unit/CommonMarkTest.php
Due: ./vendor/bin/phpcs

Pin CommonMark highlighter package
  composer.json
  composer.lock
Due: prettier --write

Created test article Markdown file to use during database seeding
  database/seeders/ArticleTableSeeder.php
  database/seeders/ArticleTableTestSeeder.php
  storage/app/.gitignore
  storage/app/testArticle.md
Due: ./vendor/bin/phpcs, prettier --write

Updated Markdown styling
  resources/sass/utilities/_markdown.scss
Due: prettier --write

Updated article screenshot after updating body to test article Markdown
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches tablet screenshot #0.png
Due: none

Update dependency laravel/framework to v8.8.0
  composer.json
  composer.lock
Due: prettier --write

Improve CommonMark testing
  composer.json
  composer.lock
  tests/Unit/CommonMarkTest.php
  tests/Unit/__snapshots__/CommonMarkTest__it_converts_markdown_to_html__1.xml
  tests/Unit/__snapshots__/CommonMarkTest__it_highlights_code_in_markdown__1.xml
Due: ./vendor/bin/phpcs, prettier --write

Improve PurgeCSS config to ensure Markdown styling is not removed
  resources/sass/app.scss
  webpack.mix.js
Due: prettier --write

Change npm commands to Yarn
  .github/workflows/main.yml
Due: none

Update dependency symfony/css-selector to v5.1.7
  composer.json
  composer.lock
Due: prettier --write

Allow access to Horizon dashboard in production
  app/Providers/HorizonServiceProvider.php
  tests/Feature/HorizonTest.php
Due: ./vendor/bin/phpcs

Allow access to Telescope dashboard in production
  app/Providers/AppServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  composer.json
Due: ./vendor/bin/phpcs, prettier --write

Remove uses of ASSET_URL environment variable as was causing issues with Horizon and Telescope dashboards
  .env.ci.testing
  .env.cypress
  .env.example
  resources/views/pages/about.blade.php
Due: ./vendor/bin/phpcs

Updated content security policy
  app/Services/Csp/Policy.php
Due: ./vendor/bin/phpcs

Remove CSP middleware from all routes and re-added to specific routes. This fixes an issue where Flare, Horizon and Telescope couldn't load their assets
  app/Exceptions/Handler.php
  app/Http/Controllers/Auth/LoginController.php
  app/Http/Kernel.php
  app/Providers/RouteServiceProvider.php
  routes/web.php
Due: ./vendor/bin/phpcs

Added Horizon and Telescope links to admin header section
  resources/views/components/admin/buttons/link.blade.php
  resources/views/layouts/admin.blade.php
Due: ./vendor/bin/phpcs

Ensure application key is generated after environment file is moved
  .github/workflows/main.yml
Due: none

Only disable CSP in local environment
  app/Exceptions/Handler.php
Due: ./vendor/bin/phpcs

Change check to not production
  app/Exceptions/Handler.php
Due: ./vendor/bin/phpcs

Remove Horizon test
  tests/Feature/HorizonTest.php
Due: ./vendor/bin/phpcs

Remove Horizon and Telescope links from admin header
  resources/views/components/admin/buttons/link.blade.php
  resources/views/layouts/admin.blade.php
Due: ./vendor/bin/phpcs

Organise database seeders
  .github/workflows/main.yml
  database/seeders/DatabaseTestSeeder.php
  database/seeders/Test/ArticleCategoriesTableSeeder.php
  database/seeders/Test/ArticleSeriesTableSeeder.php
  database/seeders/Test/ArticleTableSeeder.php
  database/seeders/Test/TestSeederSeeder.php
  database/seeders/Test/UsersTableSeeder.php
Due: ./vendor/bin/phpcs

Update dependency sass to v1.26.12
  package.json
  yarn.lock
Due: prettier --write

Update dependency sentry/sentry-laravel to v2.1.0
  composer.json
  composer.lock
Due: prettier --write

Update dependency laravel/framework to v8.9.0
  composer.json
  composer.lock
Due: prettier --write

Update dependency laravel/telescope to v4.1.0
  composer.json
  composer.lock
Due: prettier --write

Update dependency laravel/horizon to v5.2.1
  composer.json
  composer.lock
Due: prettier --write

Update dependency laravel-mix to v5.0.6
  package.json
  yarn.lock
Due: prettier --write

Update dependency spatie/schema-org to v3.1.0
  composer.json
  composer.lock
Due: prettier --write

Update dependency sass to v1.27.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency tailwindcss to v1.8.12
  package.json
  yarn.lock
Due: prettier --write

Update dependency sentry/sentry-laravel to v2.1.1
  composer.json
  composer.lock
Due: prettier --write

Update dependency sass-loader to v10.0.3
  package.json
  yarn.lock
Due: prettier --write

Update dependency tailwindcss to v1.8.13
  package.json
  yarn.lock
Due: prettier --write

Update dependency guzzlehttp/guzzle to v7.2.0
  composer.json
  composer.lock
Due: prettier --write

Update dependency spatie/laravel-webhook-client to v2.7.3
  composer.json
  composer.lock
Due: prettier --write

Update dependency laravel-mix to v5.0.7
  package.json
  yarn.lock
Due: prettier --write

Update dependency phpunit/phpunit to v9.4.1
  composer.json
  composer.lock
Due: prettier --write

Update dependency tailwindcss to v1.9.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency tailwindcss to v1.9.1
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  prettier --write: any of: *.{js,ts,tsx,json,scss,md}
